# Allow to read IR nodes
allow init_xiaomi ir_device:chr_file r_file_perms;
allow init_xiaomi sysfs_leds:dir r_dir_perms;
allow init_xiaomi sysfs_leds:file r_file_perms;
