import /vendor/etc/init/hw/init.mi8937.audio.rc
import /vendor/etc/init/hw/init.mi8937.ir.rc
import /vendor/etc/init/hw/init.mi8937.fingerprint.rc
import /vendor/etc/init/hw/init.mi8937.sensors.rc

service vendor.xiaomi_device_script /vendor/bin/init.xiaomi.device.sh
    class main
    user root
    oneshot
