import /vendor/etc/init/hw/init.mi8937.audio.rc
import /vendor/etc/init/hw/init.mi8937.camera.rc
import /vendor/etc/init/hw/init.mi8937.ir.rc
import /vendor/etc/init/hw/init.mi8937.fingerprint.rc
import /vendor/etc/init/hw/init.mi8937.misc.rc
import /vendor/etc/init/hw/init.mi8937.sensors.rc
import /vendor/etc/init/hw/init.mi8937.vibrator.rc

service vendor.xiaomi_device_script /vendor/bin/init.xiaomi.device.sh
    class main
    user root
    oneshot

service baseband-sh /vendor/bin/init.baseband.sh
    class late_start
    user system
    group system
    oneshot
