# Sensors
on property:ro.xiaomi.device=land
    mount none /vendor/etc/sensors/${ro.xiaomi.device}_sensor_def_qcomdev.conf /vendor/etc/sensors/sensor_def_qcomdev.conf bind
    restart vendor.sensors.qti

on property:ro.xiaomi.device=santoni
    mount none /vendor/etc/sensors/${ro.xiaomi.device}_sensor_def_qcomdev.conf /vendor/etc/sensors/sensor_def_qcomdev.conf bind
    restart vendor.sensors.qti

on property:ro.xiaomi.series=rova
    mount none /vendor/etc/sensors/${ro.xiaomi.series}_sensor_def_qcomdev.conf /vendor/etc/sensors/sensor_def_qcomdev.conf bind
    restart vendor.sensors.qti

on property:ro.xiaomi.series=ulysse
    mount none /vendor/etc/sensors/${ro.xiaomi.series}_sensor_def_qcomdev.conf /vendor/etc/sensors/sensor_def_qcomdev.conf bind
    restart vendor.sensors.qti
